<div class="container-fluid mt-2">
  <div class="card shadow">
      <div class="card-header text-dark d-flex align-items-center">
      <h6 class="mb-0">Edit Lab Details</h6>
    </div>

    <div class="card-body bg-light">
      <form (ngSubmit)="onUpdate()" #labForm="ngForm">
        <div class="row mb-3">
          <label for="lab_name" class="col-sm-2 col-form-label fw-bold">Lab Name</label>
          <div class="col-sm-10">
            <input
              type="text"
              id="lab_name"
              name="lab_name"
              [(ngModel)]="lab.lab_name"
              class="form-control"
              required
              value="indore" />
          </div>
        </div>

        <div class="row mb-3">
          <label for="lab_location" class="col-sm-2 col-form-label fw-bold">Location</label>
          <div class="col-sm-10">
            <input
              type="text"
              id="lab_location"
              name="lab_location"
              [(ngModel)]="lab.lab_location"
              class="form-control"
              required
              value="indore" />
          </div>
        </div>

        <div class="row mb-3">
          <label for="status" class="col-sm-2 col-form-label fw-bold">Status</label>
          <div class="col-sm-10">
            <select
              id="status"
              name="status"
              [(ngModel)]="lab.status"
              class="form-select"
              required>
              <option value="OPERATIONAL" selected>Operational</option>
              <option value="NON_OPERATIONAL">Non Operational</option>
            </select>
          </div>
        </div>

        <div class="text-end">
          <button type="submit" class="btn btn-success me-2" [disabled]="labForm.invalid">
            <i class="fas fa-save"></i> Update
          </button>
          <button type="button" class="btn btn-secondary" (click)="cancel()">
            <i class="fas fa-times"></i> Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

