<div class="container-fluid mt-2">
  <div class="card shadow">
    <div class="card-header text-dark d-flex align-items-center">
      <h6 class="mb-0">Create New Testing Bench</h6>
    </div>
    <div class="card-body">
  <form (ngSubmit)="onSubmit()" #benchForm="ngForm">
    <div class="row">
      <div class="col-md-4">
        <!-- Bench Name -->
        <div class="mb-3">
          <label for="bench_name" class="form-label">Bench Name</label>
          <input type="text" id="bench_name" class="form-control" required [(ngModel)]="bench.bench_name" name="bench_name">
        </div>
      </div>
      <div class="col-md-4">
        <!-- Type -->
        <div class="mb-3">
          <label for="type" class="form-label"> Bench Type</label>
          <select id="type" class="form-select" required [(ngModel)]="bench.type" name="type">
            <option *ngFor="let type of testing_bench_types" [value]="type">{{ type }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Status -->
        <div class="mb-3">
          <label for="status" class="form-label">Working Status</label>
          <select id="status" class="form-select" required [(ngModel)]="bench.status" name="status">
            <option *ngFor="let status of testing_bench_statuses" [value]="status">{{ status }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <!-- Operation Type -->
        <div class="mb-3">
          <label for="operation_type" class="form-label">Operation Type</label>
          <select id="operation_type" class="form-select" required [(ngModel)]="bench.operation_type" name="operation_type">
            <option *ngFor="let operation_type of operation_types" [value]="operation_type">{{ operation_type }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Phase -->
        <div class="mb-3">
          <label for="phase" class="form-label">Phase</label>
          <select id="phase" class="form-select" required [(ngModel)]="bench.phase" name="phase">
            <option *ngFor="let phase of phases" [value]="phase">{{ phase }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Last Calibration Date -->
        <div class="mb-3">
          <label for="last_calibration_date" class="form-label">Last Calibration Date</label>
          <input type="date" id="last_calibration_date" class="form-control" [(ngModel)]="bench.last_calibration_date" name="last_calibration_date">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <!-- Next Calibration Due -->
        <div class="mb-3">
          <label for="next_calibration_due" class="form-label">Next Calibration Due</label>
          <input type="date" id="next_calibration_due" class="form-control" [(ngModel)]="bench.next_calibration_due" name="next_calibration_due">
        </div>
      </div>
      <div class="col-md-4">
        <!-- Maintenance Status -->
        <div class="mb-3">
          <label for="maintenance_status" class="form-label">Maintenance Status</label>
          <select id="maintenance_status" class="form-select" [(ngModel)]="bench.maintenance_status" name="maintenance_status">
            <option *ngFor="let status of maintenance_statuses" [value]="status">{{ status }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Lab ID -->
        <div class="mb-3">
          <label for="lab_id" class="form-label">Select Lab</label>
          <select id="lab_id" class="form-select" [(ngModel)]="bench.lab_id" name="lab_id">
            <option *ngFor="let lab of labslist" [value]="lab.id">{{ lab.lab_name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- Reset Button -->
        <button type="button" class="btn btn-secondary ms-2" (click)="benchForm.reset()">Reset</button>

      </div>
    </div>
  </form>
  <div class="mt-3 text-success" *ngIf="response_msg">
    {{ response_msg }}
  </div>
</div>
</div>
</div>
