/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.container_header{
  background: linear-gradient(to bottom, #062064, #1d0101);
}
.tilte_header{
  background-color:#151433; color: rgb(242, 236, 236); font-weight: bold;
}
